:root {
    --color-bg-primary: #222;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg-primary);
}

.navbar1 ul li {
    color: white;
    padding: 10px;
    margin: 0 5px;
}

.navbar ul li:hover {
    background: black;
}

.logo img {
    width: 30px;
}

ul{
    list-style: none;
}

.navbar1 a {
    text-decoration: none;
    color: #f4f4f4;
}


