:root {
    --color-bg-primary: #222;
}

.UI-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    box-sizing: content-box;
    width: 300px;
}

.item:nth-child(1) {
    height: 200px;
    overflow: hidden;
    border-bottom: 30px solid var(--color-bg-primary);
    border-left: 30px solid var(--color-bg-primary);
    border-right: 30px solid var(--color-bg-primary);
    display: flex;
    justify-content: center;

}

.item:nth-child(1) img {
    width: 300px;
}

.item:nth-child(2) {
    border-bottom: 30px solid var(--color-bg-primary);
    border-left: 30px solid var(--color-bg-primary);
    border-right: 30px solid var(--color-bg-primary);
    height: 200px;
    overflow: auto;
}

.item:nth-child(3) {
    border-bottom: 30px solid var(--color-bg-primary);
    border-left: 30px solid var(--color-bg-primary);
    border-right: 30px solid var(--color-bg-primary);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

}

.playerControls img {
    height: 25px;
    margin: 0 10px;
}

.playerControls:nth-child(4) img {
    rotate: 180deg;
}

.playerControls:hover {
    box-shadow: 0 0 10px 5px lightblue;
}

.playerControls {
    /* width: 30px; */
    border-radius: 12px;
    background-color: aquamarine;
}

.volumeSlider input[type="range"] {
    -webkit-appearance: none !important;
    width: 200px;
    height: 5px;
    background: aquamarine;
    border: none;
    outline: none;
    cursor: pointer;
}

.volumeSlider input[type="range"]::-webkit-slider-thumb:hover {
    background: black;
}

.controlsContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.controlsContainer div:nth-child(1) {
    justify-content: space-evenly;
}

.controlsContainer {
    height: 100px;


}