
.UI-block {
    display: grid;
    grid-template-columns: 33.3% 33.3%;
    gap: 5px;
    justify-content: center;
    margin: 50px;

}
.UI-block .item{
    background: black;
}
.UI-block .item img{
    max-width: 350px;
}

.item:nth-child(3){
    grid-column: 1 / span 2;
}



.item:nth-child(2) {
    color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    
}